.bpe--location-input
  background: white
  position: absolute
  top: 0
  left: 0
  z-index: 100
  width:  $betterplace_explorer_sidebar_width / 2
  height: $betterplace_explorer_location_input_height
  border-bottom: 1px solid $light-grey

.bpe--location-input--input
  display: block
  margin: 17px 20px
  padding: 10px 30px 10px 10px
  width: $betterplace_explorer_sidebar_width / 2 - 17px
  box-shadow: none
  border: 1px solid $light-grey
  border-radius: 4px

  .browser-edge &,
  .browser-msie &
    padding-right: 5px

.bpe--location-input--reset
  position: absolute
  right: 8px
  top: 14px
  z-index: 1000
  font-size: 3rem
  font-weight: 100
  cursor: pointer

  .browser-edge &,
  .browser-msie &
    display: none

  &:hover
    text-decoration: none
