.bpe--volunteering
  border: 1px solid $light-grey
  +desktop
    margin-bottom: 20px
  +phone
    margin-bottom: 10px

  .bpe--map &
    border: 0
    margin-bottom: 0

  &.active
    h4
      text-decoration: underline

.bpe--volunteering--body
  font-size: 14px
  +desktop
    padding-top: 10px
  +phone
    padding-top: 5px

  small
    font-size: 12px

  .bpe--volunteering-list &
    display: inline-block
    vertical-align: top
    width: 48%

    padding-right: 2%

  .bpe--map &
    padding: 10px

  h4
    font-weight: 400

    +desktop
      line-height: 21px

    +phone
      font-size: 14px
      line-height: 18px
      hyphens: auto
      -webkit-hyphens: auto
      margin-top: 0

.bpe--volunteering--carrier-name
  font-size: 14px
  color: $medium-grey
  padding-left: 22px
  position: relative
  +desktop
    margin-top: 5px
  +phone
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    margin-bottom: 0

  &:before
    position: absolute
    top: 0
    left: 0
    content: ''
    display: inline-block
    vertical-align: middle
    height: 17px
    width: 17px
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABFCAMAAADerVCrAAAAM1BMVEUAAAC60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wSM4IHZAAAAEHRSTlMAwECAYDDg0KDwsBBQIJBwPkbmYQAAAMhJREFUWMPt18sOgjAQheFpGa4Fnfd/Wp1E2sbZcaqpZv5dAzl+JiyAvthx50R4+yYi6zKCmGGSVzMnCFNSFobRCgvAGBaAMSwAY1gAxrAAjGEBGMO6hrEsAGNZFgOwagzCImnUPw+FZ7NABY20tArQTCVGHshIdfFqI30sDmf6I2M+sV685aO51TTIWdS/mk+DXgz5+HarD/mQD/mQD/mQD/3iUFyAl+yDSpMAbRVIoHoe6qvEAW/biRZpEpO0aerw66i/odCoByH8r05KM8SjAAAAAElFTkSuQmCC)
    background-size: contain
    background-repeat: no-repeat

    +phone
      display: none

.bpe--volunteering--image

  .bpe--volunteering-list &
    display: inline-block
    vertical-align: top
    width: 46%
    margin-right: 4%

  .bpe--map &
    width: 210px
    height: 109px
    margin-right: 0
