.bpe--volunteering
  margin-bottom: 20px
  border: 1px solid $light-grey

  .bpe--map &
    border: 0
    margin-bottom: 0

  &.active
    h4
      text-decoration: underline

.bpe--volunteering--body
  padding-top: 10px
  font-size: 14px

  small
    font-size: 12px

  .bpe--volunteering-list &
    display: inline-block
    vertical-align: top
    width: 50%

  .bpe--map &
    padding: 10px

  h4
    font-weight: 400

    +phone
      font-size: 14px
      hyphens: auto
      -webkit-hyphens: auto

.bpe--volunteering--carrier-name

  +phone
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  &:before
    content: ''
    display: inline-block
    margin-right: 5px
    vertical-align: middle
    height: 17px
    width: 17px
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABFCAMAAADerVCrAAAAM1BMVEUAAAC60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wS60wSM4IHZAAAAEHRSTlMAwECAYDDg0KDwsBBQIJBwPkbmYQAAAMhJREFUWMPt18sOgjAQheFpGa4Fnfd/Wp1E2sbZcaqpZv5dAzl+JiyAvthx50R4+yYi6zKCmGGSVzMnCFNSFobRCgvAGBaAMSwAY1gAxrAAjGEBGMO6hrEsAGNZFgOwagzCImnUPw+FZ7NABY20tArQTCVGHshIdfFqI30sDmf6I2M+sV685aO51TTIWdS/mk+DXgz5+HarD/mQD/mQD/mQD/3iUFyAl+yDSpMAbRVIoHoe6qvEAW/biRZpEpO0aerw66i/odCoByH8r05KM8SjAAAAAElFTkSuQmCC)
    background-size: contain
    background-repeat: no-repeat

.bpe--volunteering--image

  .bpe--volunteering-list &
    display: inline-block
    vertical-align: top
    width: 46%
    margin-right: 4%

  .bpe--map &
    width: 210px
    height: 109px
    margin-right: 0
